* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    background: url(../images/metal-bg-2.jpg) no-repeat center center fixed;
    background-size: cover;
    font-size: 1.5rem;
}

.title-bar {
    padding: 0.5rem 0;
    background: linear-gradient(lighten(#a21e2b, 10%), #a21e2b);
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 1.9rem;
}

.footer {
    padding: 1rem;
    text-align: center;
}

.logo {
    width: 80%;
    max-width: 350px;
    height: auto;
}
