.entry-list,
.loading {
    margin-bottom: 1rem;
}

.loading {
    opacity: 0.6;
}

    .entry-list__title {
        margin: 2rem 0 2.5rem 0;
        text-transform: uppercase;
        text-align: center;
        font-size: 7rem;
        color: #c13d35;
        text-shadow: 0 1px 0 #6f2e29,
               0 2px 0 #6f2e29,
               0 3px 0 #6f2e29,
               0 4px 0 #6f2e29,
               0 5px 0 #6f2e29,
               0 6px 0 #6f2e29,
               0 7px 0 #6f2e29,
               0 8px 0 #6f2e29,
               0 9px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    }

    .entry-list__entries {
        list-style-position: inside;
        padding: 0.5rem;
        width: 80%;
        max-width: 730px;
        margin: 0 auto;
    }
