.entry-list {
    list-style-position: inside;
}

.entry-list,
.loading {
    margin-bottom: 1rem;
}

.loading {
    opacity: 0.6;
}

ol {
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;

    li {
        position: relative;
        margin: 0 0 6px 2em;
        list-style: none;
        border-top: 2px solid #666;

        &:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            top: -2px;
            left: -1.8em;
            box-sizing: border-box;
            width: 1.8em;
            margin-right: 8px;
            padding: 4px;
            border-top: 2px solid #666;
            color: #fff;
            background: #666;
            font-weight: bold;
            text-align: center;
        }
    }
}
