.entry {
    padding: 0.2rem;
    cursor: pointer;

    &:hover {
        background: lighten(yellow, 30%);
    }
}

    .entry__time {
        display: inline-block;
        margin-right: 0.5rem;
    }

    .entry__name {
        display: inline-block;
    }
