.entry {
    padding: 0.2rem;
    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.5);
    }
}

    .entry__time {
        display: inline-block;
        margin-right: 0.5rem;
        padding-left: 0.5rem;
        font-weight: bold;
    }

    .entry__name {
        display: inline-block;
    }
