.leaderboard-header__title {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.leaderboard-header__subtitle {
    opacity: 0.4;
    font-weight: normal;
}

.leaderboard-header {
    padding: 1rem 1rem;
    background: hsl(0,0,20);
}
